<% content_for :content do %>
    <div class="panel-heading"><%= @group[:name] %></div>
    <div class="panel-body">
      <h1><%= @group[:name] %></h1>
      <%= link_to 'Edit', edit_group_path(@group), :class => 'btn btn-block btn-primary' %>
      <%= link_to 'Back', groups_path, :class => 'btn btn-block btn-info' %>
    </div>
<% end %>