<% content_for :content do %>
    <div class="panel-heading">Listing Workers</div>
    <table class="table">
      <% @workers.each do |worker| %>
          <tr>
            <td colspan="5"><%= worker[:username] %> (<%= worker[:email] %>)</td>
            <td colspan="1">
              <% if worker[:admin] == 0 %>
                <%= link_to 'Destroy', worker_path(worker[:id]), 'data-method' => :delete, :class => 'btn btn-danger pull-right margin-left-10', :confirm => 'Are you sure ?' %>
              <% end %>
            </td>
          </tr>
      <% end %>
    </table>
    <div class="panel-body">
      <%= link_to 'New Worker', new_worker_path, class: 'btn btn-block btn-success' %>
    </div>
<% end %>