<% content_for :content do %>
    <div class="panel-heading">New Worker</div>
    <div class="panel-body">
      <%= render 'form' %>
      <br>
      <%= link_to 'Back', workers_path, :class => 'btn btn-block btn-info' %>
    </div>
<% end %>