<% content_for :content do %>
    <div class="panel-heading">Editing Product</div>
    <div class="panel-body">
      <%= render 'form' %>
      <br>
      <%= link_to 'Show', @product , :class => 'btn btn-block btn-primary' %>
      <br>
      <%= link_to 'Back', products_path , :class => 'btn btn-block btn-info'%>
    </div>
<% end %>